/**
* main styles on page
*/

body {
    background-color: #fcb317 ;
   

}



/**
* header styles
*/
header img#headerLogo {
     
  }

header img#headerSlogan {
     float: right;
  } 

  header {
    background-color: #fcb317;
    margin: 10px 0px 0px 0px;
    height: 170px;
    color: #1a1a1a;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    clear: both;
}

/**
* nav menu styles 
*/

nav {
  background-color: #3ca6d1; 
  margin: 17px 0px 0px 0px;
  padding-top: 3px;
  border: 3px dotted #A4A4A4;
  
}

nav ul{
  margin: 0px;
  list-style-type: none;
  margin: 5px 0px 5px 0px;
  text-decoration: none;
  
}

nav ul li{
  display: inline;
  margin: 5px 10px 5px 10px;
  
}

nav ul li a:link, nav ul li a:visited {
  background-color: #3ca6d1;
  color: white;
  border-bottom: none;
  font-weight:  bold;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul li a:hover{
  background-color: #1a7fa7;
  color: white;
  margin: 5px 0px 5px 0px;
  
  border-style: dotted;
  border: 3px;
  padding: 7px;

  border-color: grey;
  
  font-weight:  bold;
  font-size: 130%;
  text-decoration: none;
  text-transform: uppercase;
}

/* nav ul li.select {
  background-color: #247291;
}
 */

/**
* main content - tyble styling for leftSide, main-content and aside column
*/
#tableContainer {
  display: table;
     
}
#tableRow {
  display: table-row;
     
}
  section#main-content {
    display: table-cell;
    padding: 15px;
    vertical-align: top;
    background-color: white;
    font-size: 105%;


  }
  section#leftSide {
    display: table-cell;
    padding: 10px;
    width: 230px;
    vertical-align: top;
    background-color: #f3702a;
    font-size: 105%;
    margin: 0px 0px 0px 100px;
    


  }
  aside {
    display: table-cell;
    /* background:  url("./images/sidebar1.png") bottom right; */
    padding: 10px;
    width: 230px;
    vertical-align: top;
    background-color: #f3702a;
    font-size: 105%;
    margin: 0px 10px 0px 0px;
    


  }

  #img-aside {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
 } 

 .side-menu {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  

} 
.side-menu a:link {
  background-color: #f3702a;
  color: white;
  border-bottom: none;
  font-weight:  bold;
  text-decoration: none;
  text-transform: uppercase;

} 

 .side-menu  a:visited  {
  background-color: #f3702a;
  color: #7d7c7b;
  border-bottom: none;
  font-weight:  bold;
  text-decoration: none;
  text-transform: uppercase;

} 



.side-menu a:hover  {
  background-color: #d15918;
  color: #800b00;
  margin: 10px 0px 10px 0px;
  border-style: dotted;
  /* border-top: 3px; */

  /* border-color: grey; */
  
  font-weight:  bold;
  text-decoration: none;
  text-transform: uppercase;

} 

.side-menu  li {
  margin: 10px 0px 10px 0px;
} 

  /**
* footer styles
*/

footer {
  display: table;
     
}

.row {
  display: table-row;
     
}

.column{
  display: table-cell;
  padding: 15px;
  vertical-align: top;
  background-color: white;
  font-size: 105%;
  /* background-color: #f3702a; */
  margin-left: 5px;
  border-style: solid 2px;
  border-color: tomato;


}

footer h4  {
  text-transform: uppercase;
     
}
